<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.google.unity.ads" android:versionName="1.0" android:versionCode="1">
  <uses-sdk android:minSdkVersion="23" />
  <application>
    <uses-library android:required="false" android:name="org.apache.http.legacy" />
    <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-8590881680208951~9474758624" />
    <meta-data android:name="com.google.unity.ads.UNITY_VERSION" android:value="6000.2.0b3" />
  </application>
</manifest>